@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
html {
  position: fixed;
  overflow: hidden;
  touch-action: none;
}

html * {
  overscroll-behavior: contain;
}
html * * {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
html * *::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  font-family: "Quicksand", sans-serif;
}

svg {
  display: block;
}
.background-image.svelte-11kjegs.svelte-11kjegs{width:100vw;height:30vh;max-height:20rem;object-fit:cover;transition:height 250ms}
.background-image.minimized.svelte-11kjegs.svelte-11kjegs{height:15vh}
.image-attribution.svelte-11kjegs.svelte-11kjegs{position:absolute;top:0;right:0;padding:0.1rem 0.3rem;font-size:0.8rem;font-weight:600;color:black;background-color:rgba(233, 233, 233, 0.2392156863)}
.info-card.svelte-11kjegs.svelte-11kjegs{position:absolute;display:flex;justify-content:space-around;align-items:center;width:80%;max-width:25rem;min-width:50%;height:70%;inset:0;margin:auto;padding:1rem;border-radius:1rem;box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);background-color:rgba(255, 255, 255, 0.3568627451);-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);transition:width 200ms, height, 200ms}
.info-card.svelte-11kjegs .image-with-icon.svelte-11kjegs{position:relative;height:100%}
.info-card.svelte-11kjegs .image-with-icon .bubble.svelte-11kjegs{position:absolute;top:-1rem;right:-1.5rem;width:4rem}
.info-card.svelte-11kjegs .image-with-icon .bubble .emoji.svelte-11kjegs{position:absolute;display:flex;justify-content:center;align-items:center;inset:0;font-size:1.5rem}
.info-card.svelte-11kjegs .image-with-icon .headshot.svelte-11kjegs{height:100%;border-radius:99rem}
.info-card.svelte-11kjegs .information.svelte-11kjegs{color:#292929;display:flex;flex-direction:column;align-items:center;font-family:"Nunito Sans", sans-serif;font-weight:700;margin-left:1rem}
.info-card.svelte-11kjegs .information .svelte-11kjegs:nth-child(2){font-weight:500}
.info-card.minimized.svelte-11kjegs.svelte-11kjegs{width:90%;max-width:50rem;height:80%}
.info-card.minimized.svelte-11kjegs .image-with-icon.svelte-11kjegs{display:none}
.image-attribution.hidden.svelte-11kjegs.svelte-11kjegs{display:none}
@media(min-width: 1280px){.background-image.svelte-11kjegs.svelte-11kjegs{width:100vw;height:100vh;max-height:none}.image-attribution.svelte-11kjegs.svelte-11kjegs{top:auto;bottom:0;right:0}.info-card.svelte-11kjegs.svelte-11kjegs{height:fit-content;width:fit-content;min-width:auto;padding:4rem;margin:auto;flex-direction:column;justify-content:space-around}.info-card.svelte-11kjegs .image-with-icon .bubble.svelte-11kjegs{top:-1rem;right:-1rem;width:5rem}.info-card.svelte-11kjegs .image-with-icon .headshot.svelte-11kjegs{width:15rem;height:auto}.info-card.svelte-11kjegs .information.svelte-11kjegs{font-size:larger;margin-left:0;margin-top:4rem}}svg.svelte-11dyo30{width:100%;height:100%}svg.svelte-11dyo30{width:100%;height:100%}svg.svelte-11dyo30{width:100%;height:100%}nav.svelte-18i705x.svelte-18i705x{position:absolute;width:100vw;display:flex;justify-content:center;bottom:-2rem;z-index:10}nav.svelte-18i705x>.nav-item.svelte-18i705x{display:flex;justify-content:center;align-items:center;position:relative;height:3rem;width:3rem;margin:0.4rem;font-weight:600;border-radius:99rem;padding:0.6rem;color:var(--text-color);background-color:var(--background-color);box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);text-decoration:none;transition:background-color 100ms, width ease-in-out 200ms}nav.svelte-18i705x>.nav-item.svelte-18i705x:hover{background-color:var(--highlight-color) !important}nav.svelte-18i705x>.nav-item.selected.svelte-18i705x{width:7rem}@media(min-width: 768px){nav.svelte-18i705x.svelte-18i705x{justify-content:end;padding-right:0.8rem;bottom:-2.25rem}nav.svelte-18i705x>.nav-item.svelte-18i705x{height:3.5rem;width:3.5rem;margin:0.5rem;padding:0.9rem}}@media(min-width: 1280px){nav.svelte-18i705x.svelte-18i705x{width:8.75rem;height:fit-content;margin-top:0.4rem;top:0;right:-6.5rem;flex-direction:column;justify-content:start}}.loading-overlay.svelte-3mqix6{display:flex;position:fixed;top:0;left:0;z-index:50;justify-content:center;align-items:center;height:100vh;width:100vw;background-color:var(--background-color);transition:background-color 500ms ease-in}.center.svelte-3mqix6{position:absolute;width:1.6rem;height:1.6rem;inset:0;margin:auto;background-color:var(--text-color);rotate:45deg;transition:background-color 500ms ease-in}.primary.svelte-3mqix6{width:4.6666666667rem;height:4.6666666667rem;rotate:45deg;border:3px solid var(--text-color);position:absolute;inset:0;margin:auto;transition:border-color 500ms ease-in;animation:svelte-3mqix6-spinner-rotate 2s ease-in-out infinite}.secondary.svelte-3mqix6{width:5.3333333333rem;height:5.3333333333rem;rotate:45deg;border:3px solid var(--text-color);position:absolute;inset:0;margin:auto;transition:border-color 500ms ease-in;animation:svelte-3mqix6-spinner-rotate 4s ease-in-out alternate infinite}.tertiary.svelte-3mqix6{width:6rem;height:6rem;rotate:45deg;border:3px solid var(--text-color);position:absolute;inset:0;margin:auto;transition:border-color 500ms ease-in;animation:svelte-3mqix6-spinner-rotate 8s ease-in-out alternate infinite}@keyframes svelte-3mqix6-spinner-rotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
:root{--highlight-color:#818181;--background-color:#b3b3b3;--text-color:colors.$grey}
.content.svelte-j3144t.svelte-j3144t{height:100vh;width:100vw;overflow-y:auto;display:flex;flex-direction:column}
.content.svelte-j3144t header.svelte-j3144t{position:absolute;height:30vh;max-height:20rem;flex-shrink:0;transition:height 250ms ease;z-index:10}
.content.svelte-j3144t header.minimized.svelte-j3144t{height:15vh}
.content.svelte-j3144t main.svelte-j3144t{position:relative;flex-grow:1;padding:35vh 2rem 6rem 2rem;overflow-y:auto;overflow-x:hidden;background-color:white;color:#242424}
.content.loading.svelte-j3144t.svelte-j3144t{opacity:0}
@media(min-height: 1060px){.content.svelte-j3144t main.svelte-j3144t{padding-top:25rem}}
@media(min-width: 768px){.content.svelte-j3144t main.svelte-j3144t{padding-left:6rem;padding-right:6rem}}
@media(min-width: 1280px){.content.svelte-j3144t.svelte-j3144t{flex-direction:row}.content.svelte-j3144t header.svelte-j3144t{position:relative;height:100vh;max-height:100vh;width:40vw}.content.svelte-j3144t main.svelte-j3144t{padding:5rem 8rem}}