$grey: #292929;
$node: #5aaa46;
$passport: #35df79;
$mongodb: #00684a;
$express: #353535;
$axios: #671ddf;
$react: #61dafb;
$tailwindcss: #0ea5e9;
$svelte: #ff3e00;
$sass: #cc6699;
$scss: #32302f;
$javascript: #fcdc00;
$typescript: #3178c6;
$git: #e84d31;
$go: #00aed8;
$html: #d84924;
$css: #0066b6;
$php: #4c588f;
$lua: #00007c;
$yii2: #1f6787;
$freeswitch: #2a417e;
$mysql: #4f7b99;
$socket-io: #000;
$laravel: #ef3f30;
$sequelize: #02afef;
$redis: #ff4438;
$rabbitmq: #f76300;
$vite: #6971ff;
$pestphp: #f471b5;
