$grey: #292929;
$node: #5aaa46;
$passport: #35df79;
$mongodb: #00684a;
$express: #353535;
$axios: #671ddf;
$react: #61dafb;
$tailwindcss: #0ea5e9;
$svelte: #ff3e00;
$sass: #cc6699;
$javascript: #fcdc00;
$git: #e84d31;
$html: #d84924;
$css: #0066b6;
