@use "./fonts.scss";
@use "./colors.scss";

// mobile overscroll workaround
html {
  position: fixed;
  overflow: hidden;
  touch-action: none;
}
html * {
  overscroll-behavior: contain;

  // hide scrollbar
  * {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  *::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

body {
  font-family: fonts.$general;
}

// eliminate svg whitespace
svg {
  display: block;
}
