@use "./fonts.scss";
@use "./colors.scss";

html {
  position: fixed;
  overflow: hidden;
  touch-action: none;
}
html * {
  overscroll-behavior: contain;
}

// main {
//   height: 100vh;
//   height: -webkit-fill-available;
//   position: fixed;
//   overflow: hidden;
//   overscroll-behavior: contain;
// }

body {
  font-family: fonts.$general;
  // background-color: colors.$darkest;
}
